<div class="page-wrapper">
<!-- Header section starts from here -->
    <header class="fixed-top">
    {% block head %}
    <nav class="navbar navbar-expand-lg">
	    {% if container_navbar %}
        <div class="container">
        {% endif %}
		<!-- Logo -->
        <a class="navbar-brand" href="/">
           {{ page.header }}
        </a>
        {% if page.primary_menu %}
            <!-- Mobile Menu Icon -->
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#divNavbar" aria-controls="divNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon">Menu</span></button>
            <!-- Navigation -->
            <div id="divNavbar" class="main-navigation navigation navbar-collapse collapse" role="navigation" aria-label="Main menu">
                <div class="menu-main-menu-container">
				    {{ page.primary_menu }}
                </div>
             </div>
		{% endif %}
		{% if sidebar_collapse %}
		    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#divNavbar" aria-controls="divNavbar" aria-expanded="false" aria-label="Toggle navigation"></button>
        {% endif %}
        {% if container_navbar %}
        </div>
          {% endif %}
       
    </nav>
    {% endblock %}
</header>
<!-- header section END here -->
<!-- content section starts from here -->
{{page.content}}
<!-- content section END here -->
<footer class="site-footer">
      {% block footer %}
        <div class="{{ container }}">
          {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
            <div class="site-footer__top clearfix">
              {{ page.footer_first }}
              {{ page.footer_second }}
              {{ page.footer_third }}
              {{ page.footer_fourth }}
            </div>
          {% endif %}
          {% if page.footer_fifth %}
            <div class="site-footer__bottom">
              {{ page.footer_fifth }}
            </div>
          {% endif %}
        </div>
      {% endblock %}
</footer>
</div>