{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{% if fields.view_node.content|striptags|trim|render %}
<div class="col-md-6 col-lg-4">
	    <a href="{{ fields.view_node_1.content|striptags|trim|render }}" class="area-box">
		<span class="area-img">
			<img src="{{ fields.field_image_a.content|striptags|trim|render }}" alt="" width="370" height="350">
	    </span>
		<span class="area-content">
		    <span class="h4">{{ fields.field_related_attorneys.content }}</span>
			<span class="h5">{{ fields.field_designation.content }}</span>
			<p>{{ fields.field_biography.content }}</p>
			<span class="arrow-link">{{ fields.view_node.content|striptags|trim|render }}</span>
		</span>
	</a>
</div>
{% endif %}

	