
<section class="news-post acmenu" data-typec="news">
    <div class="container" {{ attributes }}>
        <div class="row no-gutters">
              <div class="col-lg-12 post-img">
			  
			  
                <img class="div-img" src="{{ file_url(node.field_listing_image.entity.field_media_image.entity.fileuri) }}" style="background-image:url({{ file_url(node.field_listing_image.entity.field_media_image.entity.fileuri) }})" alt="news-postimg"> 
              </div>
          <div class="col-11 m-auto news-content">
              <div class="row no-gutters post-info">
                  <div class="col-md-7">
                      <h1 class="h4">{{ node.label }}</h1>
                      {% set createdDate = node.field_date_posted.value|date('F j,Y') %}
                      <span class="date">Date Posted: {{ createdDate }}</span>
  
                  </div>
                  <div class="col-md-5 text-left text-md-right">
                    Share 
                    <div class="addtoany_shortcode">
                        {{ content.addtoany }}        
                    </div>
                  </div>   
              </div>
              <div class="news-txt">
                <p><span>{{ node.field_description.value|raw }}</span></p>
              </div>
          </div>
        </div>
    </div>
</section>

