
{% set title  = fields.title.content|render|striptags|trim %}
{% set field_attorney_profile  = fields.field_image_a.content|render|striptags|trim %}
{% set field_attorney_designation  = fields.field_designation.content|render|striptags|trim %}
{% set field_attorney_fax  = fields.field_fax.content %}
{% set field_attorney_phone  = fields.field_phon_.content|render|striptags|trim %}
{% set nid  = fields.nid.content|render|striptags|trim %}
{% if  fields.title.content  %}
<div class="col-lg-6 cont-att-block">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="con-att-avatar">
        <img src="{{field_attorney_profile}}" width="270" height="340">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="con-att-title">
        <h4>{{title}}</h4>
        <h6 class="att-post">{{field_attorney_designation}}</h6>
      </div>
      <p><span>Direct:</span> <a href="tel:{{field_attorney_phone}}">{{field_attorney_phone}}</a><br><span>FAX:</span>{{field_attorney_fax}}</p>
      <a data-toggle="modal" data-target="#Modal{{nid}}" href="javascript:;" class="btn btn-primary">Email Attorney</a>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal{{nid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-lg-5 modal-content-left">
            <div class="att-avatar">
              <img src="{{field_attorney_profile}}" alt="">
            </div>
            <div class="modal-att-info">
              <h3>{{title}}</h3>
              <ul class="list-unstyled">
                <li>{{field_attorney_designation}}</li>
                <li></li>
                <li><span>Direct:</span> <a href="tel:{{field_attorney_phone}}">{{field_attorney_phone}}</a></li>
                <li><span>FAX</span>: {{field_attorney_fax}}</li>
              </ul>
            </div>
          </div>
		  <div class="col-lg-7 modal-content-right">
						<h3 class="mb-3"><u>Before You Contact Us</u></h3>
						<h3>If You Are Not A Current Client Of Our Firm:</h3>
						<p>It is always possible that we already represent someone else who is adverse to you concerning the subject matter of your communication.</p>
						<p>Before communicating with Kitchens Kelley Gaynes, P.C. ("KKG") or one of its attorneys by e-mail (or otherwise), please read the Disclaimer. An attorney-client relationship is established only after the following have occurred:</p>
						<ol>
							<li>You have had direct communication in person or by telephone with one of our attorneys;</li>
							<li>KKG has cleared possible conflicts of interest;</li>
							<li>You and KKG have agreed to the terms of our engagement; and</li>
							<li>You and KKG have confirmed the terms in writing with an engagement letter.</li>
						</ol>
						<p>matter, you should not send us any information that you consider to be sensitive or confidential. We do not assume any responsibility for keeping confidential any information that you send us unless and until we become engaged as your counsel for that matter.</p>
						<h3>If You Are A Client:</h3>	
						<p>Please bear in mind that e-mail and other information transmitted over the Internet could be misdirected or intercepted. Although there are security risks inherent in any transmission by electronic means, you should be aware of these risks before sending us any sensitive or confidential information over the Internet or by e-mail.</p>
						<p>Clients and Non-Clients: By clicking "Yes" below, you understand and agree to comply with the above terms.</p>
						<div class="modal-buttons">
							<form method="post" action="javascript:;" name="atncontact" id="atncontact259">
							   <input type="hidden" value="259" name="aid">
							   <input type="submit" name="sbtForm" hidden="">
							</form>
					
			<a class="btn btn-primary submitFrm" data-form="atncontact259" href="{{ url('<front>') }}attorney-contact/?aid={{nid}}">Yes</a>
            <a class="btn btn-secondary" data-dismiss="modal" href="javascript:;">No</a>
			</div>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

	