
{% if  fields.title.content  %}
<div class="grid-item col-md-6 col-lg-4">
    <a href="{{ fields.view_node_1.content|striptags|trim|render }}" class="area-box">
        <span class="area-img"><img src="{{ fields.field_image_a.content|striptags|trim|render }}" alt="" width="370" height="350"></span>
        <span class="area-content">
            <span class="h4">{{ fields.title.content }}</span>
            <span class="h5">{{ fields.field_designation.content }}</span>
 
			{% set bio = fields.field_biography.content|striptags|trim|render|slice(9, 65) %}
			<p>{{ bio }}.{{"..."}}</p>
			 <span class="arrow-link">{{ fields.view_node.content|striptags|trim|render }}
			 </span>	
			 
        </span>
	</a>
</div>
{% endif %}

	